<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <span>
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" height="56" alt="">
    </a>
    </span>
    <span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/produtos">Produtos</a>
        <a class="nav-link" href="/pagamentos">Pagamentos</a>
          <a class="nav-link" href="/cupons">Cupons</a>
      </div>
    </div>
    </span>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>