<div class="mt-3 container shadow-lg p-3 mb-5 bg-body rounded mt-4 col-md-7 ">
    <section class="m-1">
        <form action="/vales/enviar" method="POST">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" placeholder="Título do Vale-Presente" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" name="valor" placeholder="Valor do Vale-Presente" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="validade">Validade</label>
                <input type="date" name="validade" placeholder="Data de validade" class="form-control" />
            </div>
            <button class="btn btn-dark mt-3">Criar</button>
        </form>
    </section>
</div>