<div class="quatro text-white w-100 h-100 d-flex align-items-center flex-column">
    <div>
        <img src="/img/404.png" alt="404" class="w-100" >
    </div>
    <a href="/" class="btn btn-light mt-3">Voltar para Home</a>
</div>