<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/1.jpg" class="d-block imgCard" alt="Tecnologia">
        </div>
        <div class="carousel-item">
            <img src="img/2.jpg" class="d-block  imgCard" alt="Tecnologia">
        </div>
        <div class="carousel-item">
            <img src="img/3.jpg" class="d-block  imgCard" alt="Tecnologia">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="d-flex justify-content-center mt-3">
    <h1>Conheça nossa Loja</h1>
</div>
<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 mt-3 ">
            <div class="card" style="width: 18rem;">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://m.media-amazon.com/images/I/71jG+e7roXL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac book">
                        </div>
                        <div class="carousel-item">
                            <img src="https://m.media-amazon.com/images/I/712v9WGWDBL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac Book">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Apple MacBook Air 13.3"</h5>
                    <p class="card-text">Vida útil da bateria durante todo o dia: passe mais do que nunca com até 18
                        horas de vida útil da bateria.</p>
                    <p class="card-text text-center">R$ 7.753.99</p>
                    <a href="#" class="btn btn-dark w-100">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mt-3 ">
            <div class="card" style="width: 18rem;">
                <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://m.media-amazon.com/images/I/71jG+e7roXL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac book">
                        </div>
                        <div class="carousel-item">
                            <img src="https://m.media-amazon.com/images/I/712v9WGWDBL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac Book">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Apple MacBook Air 13.3"</h5>
                    <p class="card-text">Vida útil da bateria durante todo o dia: passe mais do que nunca com até 18
                        horas de vida útil da bateria.</p>
                    <p class="card-text text-center">R$ 7.753.99</p>
                    <a href="#" class="btn btn-dark w-100">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <div class="card " style="width: 18rem;">
                <div id="carouselExampleContrls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://m.media-amazon.com/images/I/71jG+e7roXL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac book">
                        </div>
                        <div class="carousel-item">
                            <img src="https://m.media-amazon.com/images/I/712v9WGWDBL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac Book">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleContrls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleContrls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Apple MacBook Air 13.3"</h5>
                    <p class="card-text">Vida útil da bateria durante todo o dia: passe mais do que nunca com até 18
                        horas de vida útil da bateria.</p>
                    <p class="card-text text-center">R$ 7.753.99</p>
                    <a href="#" class="btn btn-dark w-100">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <div id="carouselExampleContols" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://m.media-amazon.com/images/I/71jG+e7roXL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac book">
                        </div>
                        <div class="carousel-item">
                            <img src="https://m.media-amazon.com/images/I/712v9WGWDBL._AC_SL1500_.jpg"
                                class="d-block w-100" alt="Mac Book">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleContols"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleContols"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Apple MacBook Air 13.3"</h5>
                    <p class="card-text">Vida útil da bateria durante todo o dia: passe mais do que nunca com até 18
                        horas de vida útil da bateria.</p>
                    <p class="card-text text-center">R$ 7.753.99</p>
                    <a href="#" class="btn btn-dark w-100">Comprar</a>
                </div>
            </div>
        </div>

    </div>
</div>
