<div class="m-1">
  <h2>Adicionar cupom</h2>
  <hr />
  <form action="/cupons/enviar" method="POST">
    <div class="card mb-3 bg-dark text-light" style="max-width: 540px;">
        <div class="col-md-8">
          <div class="card-body" style="width: 147%;">
            <div class="d-flex justify-content-between">
              <h6 class="card-title">
                <div class="form-group">
                  <label for="nomeCupom">Nome*</label>
                  <input
                    type="text"
                    name="nomeCupom"
                    id="name"
                    class="form-control"
                    required
                  />
              </h6>
              <h6 class="card-title ps-3">
                <div class="form-group">
                  <label for="desconto">Desconto*</label>
                  <input
                    type="number"
                    name="desconto"
                    id="price"
                    class="form-control"
                    step=".1"
                    required
                  />
                </div>
              </h6>
            </div>
            <h6 class="card-text">
              <div class="form-group">
                <label for="descricao">Descrição*</label>
                <textarea
                style="resize: vertical;"
                  name="descricao"
                  id="descricao"
                  rows="6"
                  class="form-control"
                  required
                ></textarea>
              </div></h6>
            <h6 class="card-text">
                 <div class="form-group">
                  <label for="validade">Validade*</label>
                  <input
                    type="text"
                    name="validade"
                    id="validade"
                    class="form-control"
                    required
                  />
                </div>    
            </h6>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-dark mt-2">Adicionar</button>
  </form>
  </div>
</div>
</div>
