<div class="container shadow-lg p-3 mb-5 bg-body rounded mt-4 col-md-7">
  <div class="m-1">
    <h2>Adicionar Produto</h2>
      <form action="/produtos/enviar" method="POST">
        <div class="form-group mt-3">
          <label for="name">Nome*</label>
          <input type="text" name="name" id="name" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="price">Preço*</label>
          <input type="number" name="price" id="price" class="form-control" step=".1" required />
        </div>
        <div class="form-group">
          <label for="description">Descrição*</label>
          <textarea name="description" id="description" rows="10" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label for="quantity">Quantidade*</label>
          <input type="number" name="quantity" id="quantity" class="form-control" required />
        </div>
        <button class="btn btn-dark mt-2">Criar</button>
      </form>
  </div>
</div>